<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>This Week Music </title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<header>
	    <h1>THIS WEEK MUSIC IN LONDON</h1>
	</header>
<main>
		<form method="POST" class="date-form">
			<article class="form-group">
				<label for="start-date">Start Date:</label>
				<input type="date" id="start-date" name="req_start_date" value="{{ start_date.split('T')[0] }}" required>
			</article>
			
			<article class="form-group">
				<label for="end-date">End Date:</label>
				<input type="date" id="end-date" name="req_end_date" value="{{ end_date.split('T')[0] }}" required>
			</article>

			<input type="submit" value="Submit!">
		</form>

		{% if error_message %}
		<div class="error-message">{{ error_message }}</div>
		{% endif %}

		<section class="spotify-widget">
			{% if playlist_id %}
				<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ playlist_id }}?utm_source=generator" width="200%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			{% else %}
        		<p>No playlist available. Please try different dates.</p>
    		{% endif %}
		</section>
	</main>
</body>
</html>